<!DOCTYPE html>
<html>
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>WawGym</title>
	<link rel="icon" href="{{ url_for('static',filename='pics/favicon.png') }}" type="image/x-icon"/>
  <!-- Bootstrap core CSS -->
  <link href="{{ url_for('static',filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{{ url_for('static',filename='css/one-page-wonder.min.css') }}" rel="stylesheet">

  <!-- Timeline -->
  <link href="{{ url_for('static',filename='css/gym_style.css') }}" rel="stylesheet">

   <!-- Fa-Fa -->
  <script src="https://kit.fontawesome.com/301b488078.js" crossorigin="anonymous"></script>

   <script type="text/javascript">
    var objects = {{ obiekty|tojson }};
    var gym_lat = objects[4];
    var gym_lng = objects[5];
  </script>

	<title></title>
</head>
<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark navbar-custom">
    <div class="container">
      <a class="navbar-brand" href="/">WAW GYM</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
	  {% if username %}
    <li class="nav-item">
        <a class="nav-link" href="/">Mapa</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="/train">Plany treningowe</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/myActivity">Moja Aktywność</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Logout: {{ username }} </a>
      </li>
	  {% else %}
          <li class="nav-item">
            <a class="nav-link" href="#">Rejestracja</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Logowanie</a>
          </li>
	  {% endif %}
        </ul>
      </div>
    </div>
  </nav>

  <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 order-lg-2">
          <div class="p-5">
            <img class="img-fluid rounded-circle" src="{{obiekty[7][0]}}" alt="">
          </div>
        </div>
        <div class="col-lg-6 order-lg-1">
          <div class="p-5">
            <h2 class="display-4" style="color: #75407a">{{obiekty[0]}}</h2>
            <h4>{{obiekty[1]}}</h4>
            <h5>{{obiekty[2]}} {{obiekty[3]}}</h5>
            <br/>
            {{obiekty[6]|safe}}
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="p-5">
            <img class="img-fluid rounded-circle" src="{{obiekty[7][1]}}" alt="">
          </div>
        </div>
        <div class="col-lg-6">
          <div class="p-5">
            <h3 id="odleglosc" style="color: #75407a" class="display-4">Odległość</h3>
            <a id="googlemaps" href="">Nawiguj w Gogle Maps</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 order-lg-2">
          <div class="p-5">
            <img class="img-fluid rounded-circle" src="{{obiekty[7][2]}}" alt="">
          </div>
        </div>
        <div class="col-lg-6 order-lg-1">
          <div class="p-5">
            <h2 style="color: #75407a" class="display-4">Wydarzenia</h2>
       <ul class="timeline">
        {% for event in eventy %}
        <li>
          <a href="/event?" style="color: #75407a" >{{event[0]}}</a>
          <a style="color: #75407a" class="float-right">{{event[5]}}</a>
          <p>{{event[1]}}</p>
          ~ {{event[2]}}
        </li>
        {% endfor %}
      </ul>
      {%if eventy | length == 0%}
      <h4>Brak Wydarzeń :(</h4>
      {%endif %}
            <div class="container mt-5 mb-5">
      

          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
        </div>
        <div class="col-lg-6">
            <h3 style="color: #75407a" class="display-4">Dodaj Wydarzenie</h3>
            <form enctype=multipart/form-data method="post">
              <h6>Nazwa Wydarzenia</h6>
              <p><input class="form-control" type="text" name="nazwa" id="nazwa" placeholder="nazwa wydarzenia" required></p>
              <h6>Krótki Opis Wydarzenia</h6>
              <p><input class="form-control" type="text" name="opis" id="opis" placeholder="opis wydarzenia" required></p>
              <h6>Data Wydarzenia</h6>
              <p><input class="form-control" type="date" name="data" id="data" required></p>
              <p><input class="btn-primary" type="submit" value="Dodaj"></p>
            </form>
        </div>
      </div>
    </div>
  </section>
  <br/>
  <br/>

  <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
        </div>
        <div class="col-lg-6">
            <h3 style="color: #75407a" class="display-4">Dodaj zdjęcie</h3>
            <form enctype=multipart/form-data method="post" action="/addPic">
              <input type="file" name="pic1" class="btn-light" /><br>
              <input type="file" name="pic2" class="btn-light" /><br>
              <input type="file" name="pic3" class="btn-light" /><br>
              <input type="hidden" name="num" value="{{num}}" />
              <p><input class="btn-primary" type="submit" value="Dodaj"></p>
            </form>
        </div>
      </div>
    </div>
  </section>
  <!-- Footer -->
  <footer class="py-5 bg-black">
    <div class="container">
      <p class="m-0 text-center text-white small">Copyright &copy; Your Website 2019</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="{{ url_for('static',filename='js/gym.js') }}"></script>
</body>
</html>
