<!DOCTYPE html>
<html lang="pl">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
<link rel="icon" href="{{ url_for('static',filename='pics/favicon.png') }}" type="image/x-icon"/>

  <title>PruGym</title>

  <!-- Bootstrap core CSS -->
  <link href="{{ url_for('static',filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{{ url_for('static',filename='css/one-page-wonder.min.css') }}" rel="stylesheet">

   <!-- Fa-Fa -->
  <script src="https://kit.fontawesome.com/301b488078.js" crossorigin="anonymous"></script>
</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark navbar-custom">
    <div class="container">
      <a class="navbar-brand" href="/">Prudens Gym</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
	  {% if username %}
	    <li class="nav-item">
            <a class="nav-link" href="/myActivity">Moja Aktywność</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Logout: {{ username }} </a>
          </li>
	  {% else %}
          <li class="nav-item">
            <a class="nav-link" href="#">Rejestracja</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Logowanie</a>
          </li>
	  {% endif %}
        </ul>
      </div>
    </div>
  </nav>


  <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 order-lg-2">
          <div class="p-5">
            <img class="img-fluid rounded-circle" src="{{ url_for('static',filename='pics/runner.jpg') }}" alt="">
          </div>
        </div>
        <div class="col-lg-6 order-lg-1">
          <div class="p-5">
            <h2 class="display-4" style="color: #75407a">Dodaj trening</h2>
            <form action="" method="post">
                <select class="form-control" name="sport" required>
                    <option value="swim">Pływanie</option>
                    <option value="run">Bieganie</option>
                    <option value="bike">Kolarstwo</option>
                </select>
                <h7>Odległość:</h7>
                <input class="form-control" type="number" name="dist" min="0" max="200" step="0.01" placeholder="kilometry" required>
                <h7>Czas:</h7> 
                <div class="form-inline">
                    <input class="form-control mb-2" type="number" name="hours" min="0" placeholder="godziny">
                    <input class="form-control mb-2" type="number" name="minutes" min="0" max="59" placeholder="minuty">
                </div>
                
                <button class="btn-primary" type="reset"><i class="fas fa-redo"></i></button>
                <input class="btn-primary" type="submit" value="Dodaj"> 
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <br><br><br><br><br><br><br><br>


  <!-- Footer -->
  <footer class="py-5 bg-black">
    <div class="container">
      <p class="m-0 text-center text-white small">Copyright &copy; Your Website 2019</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
