<form action="" method="post">
    Maksymalna odległość:
    <input type="number" name="maxDist" id="maxDist" min="1" max="100" style="width: 70px;" required>km
    <p>Obiekty:</p>
    <input type="checkbox" name="forest" id="forest"> Lasy <br>
    <input type="checkbox" name="gym" id="gym"> Siłownie plenerowe <br>
    <input type="checkbox" name="bike" id="bike"> Stacje Veturillo <br>
    <input type="checkbox" name="swim" id="swim"> Pływalnie <br>
    <input type="submit" value="Szukaj">
</form>